:root {
  --gray-color: #242d34;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}
#post {
  width: 30rem;
}
#edit-bio-input {
  width: 23rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 75%;
  }
  #post {
    width: 15rem;
  }
}
